/* Login.css */
@import url("https://fonts.googleapis.com/css?family=Rokkitt:400,600,700,800");

html{
  background-color: #f4f4f4;
}

body {
  font-family: "Rokkitt", serif;
}

.login-nav-spacer{
  height:10px;
}

.login-container {
  margin-top:200px;
  margin-bottom:500px;
  width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height:600px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inputGroup {
  text-align: left;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 30px;
}

.inputGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-btn {
  background-color: #48d1cc;
  color: white;
  font-size: 25px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 10px;
  color: red;
}

.password-input{
  height: 50px;
}