body {
  font-family: "Rokkitt", serif;
  margin: 0;
  padding: 0;
}

.membership-page {
  overflow: hidden; /* Prevent scrolling */
  background-image: url("../memberPagePic.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 110vh; /* Make sure it takes the full screen */
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Ensure content starts below the navbar */
}

.navbar-spacer {
  height: 100px; /* Adjust this height to push content down */
}

.membership-heading {
  margin-top: 450px;
  color: #ffffff;
  font-size: 65px;
  text-align: center;
  text-shadow: -2px -2px 0 #48d1cc, 2px -2px 0 #48d1cc, -2px 2px 0 #48d1cc,
    2px 2px 0 #48d1cc, -2px 0px 0 #48d1cc, 2px 0px 0 #48d1cc, 0px -2px 0 #48d1cc,
    0px 2px 0 #48d1cc;
}

.membership-container {
  max-width: 800px;
  padding: 20px;
  margin-top: -40px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.membership-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px; /* Add gap between buttons */
}

.membership-button {
  padding: 10px 20px;
  background-color: #40e0d0;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.membership-button:hover {
  background-color: #32cd32;
  transform: scale(1.05);
}
