/* Navbar.css */

/* General navbar styling */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure navbar is on top */
  }
  
  .navbar-logo h2 {
    font-size: 1.8rem;
    margin-left: 20px;
    color: #333;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    margin: 0 20px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .navbar-auth {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .navbar-auth .login-btn,
  .navbar-auth .signup-btn {
    padding: 10px 20px;
    margin-left: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
  }
  
  .navbar-auth .login-btn {
    background-color: #4caf50;
    color: white;
  }
  
  .navbar-auth .signup-btn {
    background-color: #2196f3;
    color: white;
  }
  